body {
    background: #BC8F8F;
    font-family: monospace;
    font-size: 30px;
    margin: auto;
    height: 100%;
}
button {
    width: 90px;
    height: 90px;
    padding: 10px;
}
#equal {
    width: 90px;
    height: 180px;
    padding: 10px;
}
#zero {
    width: 180px;
    height: 90px;
    padding: 10px;
}
.reticulum {
    margin-left: 30%;
    margin-right: 50%;
    border: solid 15px #A0522D;
}
.screen {
    width: 120px;
    height: 30px;
    background-color: #A9A9A9;
    border: solid 10px #000000;
}
