body {
    background: #BC8F8F;
    font-family: monospace;
    font-size: 30px;
    margin: auto;
    height: 100%;
}
button {
    width: 90px;
    height: 90px;
}
#equal {
    width: 90px;
    height: 180px;
    padding: 10px;
}
#zero {
    width: 180px;
    height: 90px;
    padding: 10px;
}
.screen {
    width: 400px;
    height: 60px;
    background-color: #A9A9A9;
    border: solid 5px #000000;
}
.reticulum {
    border: solid 15px #A0522D;
    align: center;
    width: 500px;
    height: 800px;
}

