body {
    background: #BC8F8F;
    font-family: monospace;
    font-size: 30px;
    margin: auto;
    height: 100%;
}
#reticulum {
    margin: auto;
    border: 15px solid rgb(112, 128, 144);
    padding: 5px;
}
